---
- name: Install NTP package
  ansible.builtin.apt:
    name: "{{ ntp_package }}"
    state: present

- name: Determine correct NTP service name
  ansible.builtin.set_fact:
    ntp_service_name: "{{ 'chrony' if ntp_package == 'chrony' else 'ntp' }}"

- name: Enable and start NTP service
  ansible.builtin.systemd:
    name: "{{ ntp_service_name }}"
    state: started
    enabled: true

- name: Set timezone to {{ ntp_timezone }}
  ansible.builtin.timezone:
    name: "{{ ntp_timezone }}"

- name: Force sync time with NTP servers (no change event)
  ansible.builtin.command: chronyc -a makestep
  when: ntp_package == 'chrony'
  changed_when: false

- name: Update hardware clock from system time (no change event)
  ansible.builtin.command: hwclock --systohc
  changed_when: false
