---
- name: Install chkrootkit
  apt:
    name: chkrootkit
    state: present

- name: Deploy chkrootkit daily cron job for email alert
  template:
    src: chkrootkit.sh.j2
    dest: /etc/cron.daily/chkrootkit
    owner: root
    group: root
    mode: '0755'
