SLACK_BOT_TOKEN={{ slack_bot_token }}
SLACK_APP_TOKEN={{ slack_app_token }}
OPENCODE_ZEN_API_KEY={{ opencode_zen_api_key }}
FIO_BOT_CHANNEL={{ fio_bot_channel }}
FIO_BOT_MODEL={{ fio_bot_model }}
FIO_BOT_API_BASE={{ fio_bot_api_base }}
FIO_BOT_MAX_OUTPUT={{ fio_bot_max_output }}
FIO_BOT_COMMAND_TIMEOUT={{ fio_bot_command_timeout }}
FIO_BOT_MAX_HISTORY={{ fio_bot_max_history }}
GITHUB_TOKEN={{ git_token }}
FIO_BOT_GITHUB_REPO={{ fio_bot_github_repo }}
FIO_BOT_IDLE_MENTION_USER={{ fio_bot_idle_mention_user }}
FIO_BOT_IDLE_INTERVAL={{ fio_bot_idle_interval }}
FIO_BOT_PROMETHEUS_URL={{ fio_bot_prometheus_url }}
FIO_BOT_ALERTMANAGER_URL={{ fio_bot_alertmanager_url }}
FIO_BOT_ALERT_POLL_INTERVAL={{ fio_bot_alert_poll_interval }}
FIO_BOT_ALERT_COOLDOWN_HOURS={{ fio_bot_alert_cooldown_hours }}
FIO_BOT_ALERT_MAX_ROUNDS={{ fio_bot_alert_max_rounds }}
FIO_BOT_ALERT_INVESTIGATION_TIMEOUT={{ fio_bot_alert_investigation_timeout }}
FIO_BOT_SERVER_HOSTNAME={{ fio_bot_server_hostname }}
FIO_BOT_SERVER_DOMAIN={{ fio_bot_server_domain }}
FIO_BOT_ANSIBLE_DIR={{ fio_bot_ansible_dir }}
FIO_BOT_KB_PATH={{ fio_bot_kb_path }}
FIO_BOT_KB_RETENTION_DAYS={{ fio_bot_kb_retention_days }}
FIO_BOT_KB_CONTEXT_LIMIT={{ fio_bot_kb_context_limit }}
FIO_BOT_KB_MAX_ROWS={{ fio_bot_kb_max_rows }}
FIO_BOT_AUDIT_CHANNEL={{ fio_bot_audit_channel }}
FIO_BOT_DIGEST_ENABLED={{ fio_bot_digest_enabled }}
FIO_BOT_DIGEST_HOUR={{ fio_bot_digest_hour }}
