#!/bin/sh

unset SESSION_MANAGER
unset DBUS_SESSION_BUS_ADDRESS
export XDG_SESSION_TYPE=x11
export XDG_CURRENT_DESKTOP=GNOME-Flashback:GNOME
export GNOME_SHELL_SESSION_MODE=classic
export DISPLAY=:1

[ -r $HOME/.Xresources ] && xrdb $HOME/.Xresources

exec dbus-launch --exit-with-session gnome-session --session=gnome-flashback-metacity
