---
- name: reload auditd rules
  command: augenrules --load

- name: restart sysstat
  service:
    name: sysstat
    state: restarted

- name: restart auditd
  systemd:
    name: auditd
    state: restarted

- name: Restart sysstat timers
  systemd:
    name: "{{ sysstat_timer }}"
    state: restarted
  loop:
    - sysstat-collect.timer
    - sysstat-summary.timer
  loop_control:
    loop_var: sysstat_timer
