---
version: "3.8"

services:
  jumphost:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jumphost
    cap_add:
      - NET_ADMIN
    privileged: true
    devices:
      - /dev/net/tun
    volumes:
      - ./openvpn:/vpn
      - ./squid/squid.conf:/etc/squid/squid.conf
      - ./sshd_config:/etc/ssh/sshd_config
      - ./supervisord.conf:/etc/supervisor/conf.d/supervisord.conf
      - ./resolv.conf:/etc/resolv.conf:ro
    ports:
      - "2222:22"     # SSH
      - "31283:3128"  # Squid
    restart: "no"
