---
version: "3.8"

services:
  vpn:
    build: ./openvpn
    container_name: vpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    volumes:
      - ./openvpn:/vpn
      - ./resolv.conf:/etc/resolv.conf
    ports:
      - "2222:22"
      - "31283:3128"
    restart: "no"

  ssh:
    build: ./sshd
    container_name: ssh
    network_mode: service:vpn
    depends_on: [vpn]
    volumes:
      - ./resolv.conf:/etc/resolv.conf
    restart: unless-stopped

  squid:
    build: ./squid
    container_name: squid
    network_mode: service:vpn
    depends_on: [vpn]
    volumes:
      - ./squid/squid.conf:/etc/squid/squid.conf
      - ./resolv.conf:/etc/resolv.conf
    restart: unless-stopped
