[supervisord]
nodaemon=true
logfile=/var/log/supervisor/supervisord.log

[program:openvpn]
command=openvpn --config /vpn/rh.ovpn
autostart=true
autorestart=true

[program:sshd]
command=/usr/sbin/sshd -D
autostart=true
autorestart=true

[program:squid]
command=/usr/sbin/squid -N
autostart=true
autorestart=true
