# Ansible-managed crontab for root
# Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command
MAILTO="{{ cron.email }}"
*/15 * * * * /usr/bin/ansible-playbook /opt/ansible/playbooks/disaster_recovery.yml > /tmp/iptables_recovery.log 2>&1
15 3 * * * /home/dave/bin/certbot.sh
0 3 * * * /etc/apache2/create_mmap.sh
5 * * * * /usr/bin/journalctl --since "1 hour ago" | /bin/grep -i "The MAIL FROM domain"
10 * * * * /usr/bin/journalctl --since "1 hour ago" | /bin/grep -i "failure"
0 3 * * 0 /opt/fail2counter/refresh_exploits.sh >> /var/log/fail2counter_refresh.log 2>&1
# Security scan reports (staggered, uploaded to Slack)
0 1 * * * /usr/local/bin/security-report-aide.sh >> /var/log/security-reports/aide.log 2>&1
30 1 * * * /usr/bin/aide -c /etc/aide/aide.conf -u && cp /var/lib/aide/aide.db{.new,}
0 2 * * * /usr/local/bin/security-report-lynis.sh >> /var/log/security-reports/lynis.log 2>&1
30 2 * * * /usr/local/bin/security-report-openscap.sh >> /var/log/security-reports/openscap.log 2>&1
0 3 * * * /usr/local/bin/security-report-clamav.sh >> /var/log/security-reports/clamav.log 2>&1
0 5 * * * /usr/local/bin/security-report-ansible-pull.sh >> /var/log/security-reports/ansible-pull.log 2>&1
# SSL certificate expiry metrics for Prometheus
0 6 * * * /usr/local/bin/ssl_cert_expiry.sh
# Docker cleanup (weekly)
0 4 * * 0 /usr/bin/docker system prune -af --volumes > /dev/null 2>&1
# Package integrity check (weekly)
0 4 * * 6 /usr/bin/debsums --changed 2>&1 | /usr/bin/mail -s "debsums integrity check" dmz.oneill@gmail.com || true
# MariaDB monthly table optimization
0 3 1 * * /usr/bin/mysqlcheck --optimize --all-databases --defaults-file=/root/.my.cnf > /dev/null 2>&1
# Kernel reboot check (daily at 5am, only reboots if kernel outdated)
0 5 * * * /usr/sbin/needrestart -b -k 2>/dev/null | grep -q "NEEDRESTART-KSTA: 3" && /usr/bin/wall "Kernel update pending - rebooting in 1 minute" && /bin/sleep 60 && /sbin/reboot || true
