[Unit]
Description=Run ansible-pull from Git repository
After=network.target

[Service]
Type=oneshot
WorkingDirectory={{ ansible_pull_workdir }}
Environment="ANSIBLE_CALLBACKS_ENABLED=profile_tasks"
Environment="ANSIBLE_CONFIG={{ ansible_pull_workdir }}/ansible.cfg"
ExecStart=/usr/bin/ansible-pull -vv \
  -i {{ ansible_pull_workdir }}/inventories/hosts_local.ini \
  -U {{ ansible_pull_repo_url }} \
  -d {{ ansible_pull_workdir }} \
  --vault-password-file=/etc/ansible/.vault_pass.txt \
  --limit localhost \
  playbooks/reconcile.yml
ExecStartPost=/usr/local/bin/send-ansible-report.sh
StandardOutput=append:/var/log/ansible-pull.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
