[connection]
id={{ network_manager_id }}
uuid={{ network_manager_uuid }}
type={{ network_manager_type }}
interface-name={{ network_manager_interface_name }}
timestamp=1748190471

[ethernet]

[ipv4]
address1={{ network_manager_ipv4_address1 }}
dns={{ network_manager_ipv4_dns }}
ignore-auto-routes=true
method=manual

[ipv6]
address1={{ network_manager_ipv6_address1 }}
gateway={{ network_manager_ipv6_gateway1 }}
dns={{ network_manager_ipv6_dns }}
ignore-auto-routes=true
method=manual
routes=::/0,{{ network_manager_ipv6_gateway1 }}


[proxy]
