[DEFAULT]
destemail = {{ fail2ban_destemail }}
sender = root@{{ fqdn }}
mta = postfix
action = iptables-multiport[name=fail2ban, port="ssh,smtp,ssmtp,465,submission"]
backend = auto
bantime = 10m
findtime = 10m
maxretry = 5

[sshd]
enabled = true
filter = sshd
port = ssh
logpath = /var/log/auth.log
backend = systemd
action = iptables-multiport[name=sshd, port="ssh"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]

[postfix]
enabled = true
filter = postfix
port = smtp,ssmtp,submission
logpath = /var/log/mail.log
action = iptables-multiport[name=postfix, port="smtp,ssmtp,submission"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]

[postfix-sasl]
enabled = true
filter = postfix
logpath = /var/log/mail.log
maxretry = 5
bantime = 24h
action = iptables-multiport[name=postfix, port="smtp,ssmtp,465,submission,imap,imaps,pop3,pop3s"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]

[sasl]
enabled = true
filter = postfix
port = smtp
logpath = /var/log/mail.log
maxretry = 1
action = iptables-multiport[name=sasl, port="smtp"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]

[postfix-failedauth]
enabled = false

[apache-badbots]
enabled = true
port = http,https
filter = apache-badbots
logpath = /var/log/apache2/access.log
maxretry = 2
findtime = 600
bantime = 86400
action = iptables-multiport[name=BadBots, port="http,https"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]

[apache-noscript]
enabled = true
port = http,https
filter = apache-noscript
logpath = /var/log/apache2/access.log
maxretry = 2
findtime = 600
bantime = 86400
action = iptables-multiport[name=NoScript, port="http,https"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]

[apache-overflows]
enabled = true
port = http,https
filter = apache-overflows
logpath = /var/log/apache2/error.log
maxretry = 1
findtime = 300
bantime = 86400
action = iptables-multiport[name=Overflow, port="http,https"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]

[apache-wordpress]
enabled = true
port = http,https
filter = apache-wordpress
logpath = /var/log/apache2/access.log
maxretry = 3
findtime = 600
bantime = 86400
action = iptables-multiport[name=WordPress, port="http,https"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]
