[DEFAULT]
destemail = {{ fail2ban_destemail }}
sender = root@{{ fqdn }}
mta = sendmail
action = iptables-multiport[name=fail2ban, port="ssh,smtp,ssmtp,465,submission"]
backend = auto
bantime = 72h
findtime = 30m
maxretry = 2
allowipv6 = auto

[sshd]
allowipv6 = auto
enabled = true
filter = sshd
port = ssh
logpath = /var/log/auth.log
backend = systemd
action = iptables-multiport[name=sshd, port="ssh"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]
         fail2counter-analyze

[postfix]
allowipv6 = auto
enabled = true
filter = postfix
port = smtp,ssmtp,submission
logpath = /var/log/mail.log
action = iptables-multiport[name=postfix, port="smtp,ssmtp,submission"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]
         fail2counter-analyze

[postfix-sasl]
allowipv6 = auto
enabled = true
filter = postfix
logpath = /var/log/mail.log
action = iptables-multiport[name=postfix, port="smtp,ssmtp,465,submission,imap,imaps,pop3,pop3s"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]
         fail2counter-analyze

[sasl]
allowipv6 = auto
enabled = true
filter = postfix
port = smtp
logpath = /var/log/mail.log
action = iptables-multiport[name=sasl, port="smtp"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]
         fail2counter-analyze

[postfix-failedauth]
allowipv6 = auto
enabled = true
filter = postfix-sasl
logpath = /var/log/mail.log
action = iptables-multiport[name=postfix-failedauth, port="smtp,submission"]
         email-only[name=postfix-failedauth, dest={{ fail2ban_destemail }}]
         fail2counter-analyze


[apache-badbots]
allowipv6 = auto
enabled = true
port = http,https
filter = apache-badbots
logpath = /var/log/apache2/*access.log
action = iptables-multiport[name=BadBots, port="http,https"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]
         fail2counter-analyze

[apache-noscript]
allowipv6 = auto
enabled = true
port = http,https
filter = apache-noscript
logpath = /var/log/apache2/*access.log
action = iptables-multiport[name=NoScript, port="http,https"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]
         fail2counter-analyze

[apache-overflows]
allowipv6 = auto
enabled = true
port = http,https
filter = apache-overflows
logpath = /var/log/apache2/*error.log
action = iptables-multiport[name=Overflow, port="http,https"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]
         fail2counter-analyze

[apache-wordpress]
allowipv6 = auto
enabled = true
port = http,https
filter = apache-wordpress
logpath = /var/log/apache2/*access.log
action = iptables-multiport[name=WordPress, port="http,https"]
         email-only[name=apache-badbots, dest={{ fail2ban_destemail }}]
         fail2counter-analyze

[postfix-pipelining]
allowipv6 = auto
enabled = true
filter = postfix-pipelining
port = smtp,ssmtp,submission
logpath = /var/log/mail.log
action = iptables-multiport[name=postfix-pipelining, port="smtp,ssmtp,submission"]
         email-only[name=postfix-pipelining, dest={{ fail2ban_destemail }}]
         fail2counter-analyze
