bind 127.0.0.1
port 6379
tls-port 0

requirepass {{ redis_password }}

protected-mode yes
daemonize yes
pidfile /run/redis/redis-server.pid
loglevel notice
logfile /var/log/redis/redis-server.log
databases 16

# Disable persistence completely
save ""
appendonly no

# Optional: avoid warning if saving is completely disabled
stop-writes-on-bgsave-error no
