[Unit]
Description=daily AIDE check

[Service]
Type=oneshot
ExecStart=/usr/bin/aide --check
StandardOutput=append:/var/log/aide/aide.log
StandardError=journal

[Install]
WantedBy=multi-user.target
