global:
  resolve_timeout: 5m
{% if alertmanager_email_enabled %}
  smtp_smarthost: "{{ fqdn }}:25"
  smtp_from: "{{ alertmanager_email_from }}"
{% endif %}

route:
  receiver: default
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 1h

receivers:
  - name: default
{% if alertmanager_email_enabled %}
    email_configs:
      - to: "{{ alertmanager_email_to }}"
        from: "{{ alertmanager_email_from }}"
        send_resolved: true
{% endif %}
    webhook_configs:
      - url: "http://localhost:5001/webhook"
        send_resolved: true
{% if telegram_bot_token is defined and telegram_chat_id is defined %}
    telegram_configs:
      - bot_token: "{{ telegram_bot_token }}"
        chat_id: {{ telegram_chat_id }}
        send_resolved: true
        parse_mode: HTML
{% endif %}
{% if slack_webhook_url is defined %}
    slack_configs:
      - api_url: "{{ slack_webhook_url }}"
        send_resolved: true
        channel: "#alerts"
        title: '{% raw %}[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}{% endraw %}'
        text: '{% raw %}{{ range .Alerts }}*Alert:* {{ .Labels.alertname }}{{ "\n" }}*Severity:* {{ if .Labels.severity }}{{ .Labels.severity }}{{ else }}none{{ end }}{{ "\n" }}*Description:* {{ if .Annotations.description }}{{ .Annotations.description }}{{ else if .Annotations.summary }}{{ .Annotations.summary }}{{ else }}No description{{ end }}{{ "\n" }}{{ range .Labels.SortedPairs }} • *{{ .Name }}:* `{{ .Value }}`{{ "\n" }}{{ end }}{{ "\n" }}{{ end }}{% endraw %}:mag: <{% raw %}{{ (index .Alerts 0).GeneratorURL }}{% endraw %}|Query>  :bar_chart: <https://grafana.{{ fqdn }}|Dashboard>  :no_bell: <{% raw %}https://alertmanager.{% endraw %}{{ fqdn }}{% raw %}/#/silences/new?filter=%7B{{ range .CommonLabels.SortedPairs }}{{ if ne .Name "alertname" }}{{ .Name }}%3D"{{ .Value }}"%2C{{ end }}{{ end }}alertname%3D"{{ .CommonLabels.alertname }}"%7D{% endraw %}|Silence>'
{% endif %}
