global:
  resolve_timeout: 5m
{% if alertmanager_email_enabled %}
  smtp_smarthost: "{{ fqdn }}:25"
  smtp_from: "{{ alertmanager_email_from }}"
{% endif %}

route:
  receiver: default
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 1h

receivers:
  - name: default
    email_configs:
      - to: "dmz.oneill@gmail.com"
        from: "root@feeditout.com"
        send_resolved: true
    webhook_configs:
      - url: "http://localhost:5001/webhook"
        send_resolved: true
