  ProxyPreserveHost On
  ProxyRequests Off
  AllowEncodedSlashes NoDecode
  ProxyPass / http://localhost:{{ cockpit_listen_port }}/
  ProxyPassReverse / http://localhost:{{ cockpit_listen_port }}/
  ProxyPass "/cockpit/socket" "ws://localhost:{{ cockpit_listen_port }}/cockpit/socket"
  ProxyPassReverse "/cockpit/socket" "ws://localhost:{{ cockpit_listen_port }}/cockpit/socket"