

  ProxyPreserveHost On
  ProxyRequests Off
  AllowEncodedSlashes NoDecode

  <Location /socket>
    ProxyPass "ws://localhost:9090/socket"
    ProxyPassReverse "ws://localhost:9090/socket"
    Require all granted
  </Location>

  <Location />
    ProxyPass "http://localhost:9090/"
    ProxyPassReverse "http://localhost:9090/"
    Require all granted
  </Location>
