  ProxyPreserveHost On
  ProxyRequests Off
  AllowEncodedSlashes NoDecode

  # Ensure cockpit WebSocket endpoint is accepted
  <Location /cockpit/socket>
    ProxyPass ws://localhost:9090/cockpit/socket
    ProxyPassReverse ws://localhost:9090/cockpit/socket
    Require all granted
  </Location>

  <Location />
    ProxyPass http://localhost:9090/
    ProxyPassReverse http://localhost:9090/
    Require all granted
  </Location>