
  ProxyPreserveHost On
  ProxyRequests Off
  AllowEncodedSlashes NoDecode

  # 🔁 Redirect root to /cockpit/
  RedirectMatch ^/$ /cockpit/

  # WebSocket support
  <Location /cockpit/socket>
    ProxyPass "ws://localhost:9090/cockpit/socket"
    ProxyPassReverse "ws://localhost:9090/cockpit/socket"
    Require all granted
  </Location>

  # Main Cockpit interface
  <Location /cockpit/>
    ProxyPass "http://localhost:9090/cockpit/"
    ProxyPassReverse "http://localhost:9090/cockpit/"
    Require all granted
  </Location>
