  ProxyPreserveHost On
  ProxyRequests Off
  AllowEncodedSlashes NoDecode

  # 🧠 This block is required for WebSocket support
  <Location /cockpit/socket>
    ProxyPass "ws://localhost:9090/cockpit/socket"
    ProxyPassReverse "ws://localhost:9090/cockpit/socket"
    Require all granted
  </Location>

  # All other Cockpit requests
  <Location /cockpit/>
    ProxyPass "http://localhost:9090/cockpit/"
    ProxyPassReverse "http://localhost:9090/cockpit/"
    Require all granted
  </Location>