<VirtualHost *:80>
  ServerName {{ vhost.domain }}
{% if vhost.domain_aliases %}
  ServerAlias {{ vhost.domain_aliases | join(" ") }}
{% endif %}
  DocumentRoot /home/{{ vhost.role_user }}/www/{{ vhost.document_root }}
  LogLevel {{ vhost.loglevel }}
  CustomLog /var/log/apache2/{{ vhost.domain_alias }}-access.log combined
  ErrorLog /var/log/apache2/{{ vhost.domain_alias }}-error.log

  RewriteEngine On
  RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]

  <IfModule mpm_itk_module>
    AssignUserId {{ vhost.role_user }} {{ vhost.role_user }}
  </IfModule>

  <Directory />
    Options Indexes FollowSymLinks MultiViews
    AllowOverride all
    Order allow,deny
    allow from all  
  </Directory>
</VirtualHost>
