<Location />
    AuthType Basic
    AuthName "Restricted Access"
    AuthUserFile /home/{{ user }}/www/{{ vhost.document_root }}/.htpasswd
    Require valid-user

    ProxyPass http://localhost:9090/
    ProxyPassReverse http://localhost:9090/
</Location>
