<Location />
    AuthType Basic
    AuthName "Restricted Access"
    AuthUserFile /home/{{ user }}/www/{{ vhost.domain_alias | default(vhost.domain) }}/.htpasswd
    Require valid-user

    ProxyPass http://localhost:9090/
    ProxyPassReverse http://localhost:9090/
</Location>
