<Location />
    AuthType Basic
    AuthName "Restricted Access"
    AuthUserFile /home/{{ user }}/www/{{ vhost.document_root }}/.htpasswd
    Require valid-user

    ProxyPass /grafana http://localhost:3000/
    ProxyPassReverse /grafana http://localhost:3000/
</Location>
